{% extends '::base2.html.twig' %}
{% block content %}
    <section class="content-header">
        <h1>
            Seguridad
            <small>Usuarios: nuevo</small>
        </h1>
        <ol class="breadcrumb">
            <li><a href="{{ path('brasa_general_inicio') }}"><i class="fa fa-dashboard"></i> Inicio</a></li>
            <li><a href="{{ path('brasa_general_inicio') }}"><i class="fa fa-calendar"></i> Seguridad</a></li>
            <li><a href="{{ path('brasa_general_inicio') }}"><i class="fa fa-bars"></i> Usuario</a></li>            
            <li class="active">Nuevo</li>
        </ol>
    </section>    
    <section class="content">     
        {{ form_start(form, { 'attr': {'class': 'form-horizontal'} }) }}
        <div class="panel panel-default">
            <div class="panel-heading">Información general</div>
            <div class="panel-body">           
                <div class="form-group form-group-sm">
                    <label for="form_rolRel" class="col-sm-2 control-label">Tipo:</label>
                    <div class="col-sm-10">
                        {{ form_widget(form.rolRel, { 'attr': {'style':'text-transform:uppercase;','onblur':'javascript:this.value=this.value.toUpperCase()','autofocus':'autofocus'} }) }}
                    </div>
                </div>            
                <div class="form-group form-group-sm">
                    <label for="form_nombreCorto" class="col-sm-2 control-label">Nombre:</label>
                    <div class="col-sm-4">
                        {{ form_widget(form.nombreCorto) }}
                    </div>
                    <label for="form_email" class="col-sm-2 control-label">Correo:</label>
                    <div class="col-sm-4">
                        {% if form_errors(form.email) %}
                            {{ form_widget(form.email) }}
                            <div class="alert alert-danger" role="alert">{{ form_errors(form.email, { 'attr': {'autofocus': 'autofocus'} }) }}</div>
                        {% else %}
                            {{ form_widget(form.email) }}
                        {% endif %}
                    </div>
                </div>                
                <div class="form-group form-group-sm">
                    <label for="form_username" class="col-sm-2 control-label">Usuario:</label>
                    <div class="col-sm-4">
                        {{ form_widget(form.username) }}
                    </div>
                    {% if codigoUsuario == 0 %}
                        <label for="form_password" class="col-sm-2 control-label">Clave:</label>
                        <div class="col-sm-4">
                            {{ form_widget(form.password) }}
                        </div>
                    {% endif %}
                </div>
                <div class="form-group form-group-sm">
                    <label for="form_cargo" class="col-sm-2 control-label">Actividad:</label>
                    <div class="col-sm-4">
                        {{ form_widget(form.usuarioActividadRel) }}
                    </div>
                    <label for="form_grupoRel" class="col-sm-2 control-label">Grupo:</label>
                    <div class="col-sm-4">
                        {{ form_widget(form.grupoRel) }}
                    </div>
                </div>
                <div class="form-group form-group-sm">
                    <label for="form_cargo" class="col-sm-2 control-label">Cargo:</label>
                    <div class="col-sm-4">
                        {{ form_widget(form.cargo) }}
                    </div></div>
                <div class="form-group form-group-sm">
                    <label for="form_fecha" class="col-sm-2 control-label">fecha:</label>
                    <div class="col-sm-10">{{ form_widget(form.fecha) }}
                    </div>
                </div>
                <div class="form-group form-group-sm">
                    <label for="form_password" class="col-sm-2 control-label"></label>
                    <div class="col-sm-4">
                        <div class="col-sm-4">{{ form_row(form.isActive) }}</div>
                        <div class="col-sm-8">{{ form_row(form.cambiarClave) }}</div>
                    </div>
                </div>
            </div>

        </div>                
        <div class="modal-footer">     
            <a class="btn btn-default btn-sm" href="{{ path('brs_seg_admin_usuario_lista') }}">Cancelar</a>        
            {{ form_widget(form.guardar, { 'attr': {'class': 'btn btn-primary btn-sm'} }) }}            
        </div>    
        {{ form_end(form) }}
    </div>
    <br/><br/><br/><br/>
</section> 
{% endblock %}