{% extends 'base.html.twig' %}

{% block body %}
    <h1>Usuario</h1>

    <table>
        <tbody>
            <tr>
                <th>Codigousuariopk</th>
                <td>{{ usuario.codigoUsuarioPk }}</td>
            </tr>
            <tr>
                <th>Nombre</th>
                <td>{{ usuario.nombre }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('usuario_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('usuario_edit', { 'codigoUsuarioPk': usuario.codigoUsuarioPk }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
