{% extends '::base.html.twig' %}

{% block content %}
    <h1>Cliente show</h1>

    <table width="100%" class="table table-striped table-bordered table-hover dataTable no-footer dtr-inline" style="width: 100%;">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ cliente.codigoClientePk }}</td>
            </tr>
            <tr>
                <th>Codigotipodocumentofk</th>
                <td>{{ cliente.codigoTipoDocumentoFk }}</td>
            </tr>
            <tr>
                <th>Numdocumento</th>
                <td>{{ cliente.numDocumento }}</td>
            </tr>
            <tr>
                <th>Primernombre</th>
                <td>{{ cliente.primerNombre }}</td>
            </tr>
            <tr>
                <th>Segundonombre</th>
                <td>{{ cliente.segundoNombre }}</td>
            </tr>
            <tr>
                <th>Primerapellido</th>
                <td>{{ cliente.primerApellido }}</td>
            </tr>
            <tr>
                <th>Segundoapellido</th>
                <td>{{ cliente.segundoApellido }}</td>
            </tr>
            <tr>
                <th>Telefono</th>
                <td>{{ cliente.telefono }}</td>
            </tr>
            <tr>
                <th>Celular</th>
                <td>{{ cliente.celular }}</td>
            </tr>
            <tr>
                <th>Direccion</th>
                <td>{{ cliente.direccion }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('cliente_lista') }}">Volver al listado</a>
        </li>
        <li>
            <a href="{{ path('cliente_edit', { 'codigoClientePk': cliente.codigoClientePk }) }}">Editar</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
            <input type="submit" value="Borrar">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
