{% extends '::base.html.twig' %}
{% block content %}

    <section class="content">
        <div class="row">
            <div class="col-sm-4">
                <h1 class="page-header">Factura</h1>
            </div>

            {{ form_start(form, { 'attr': {'class': 'form-horizontal', 'novalidate': 'novalidate'} }) }}
            {{ form_errors(form) }}
            <div class="btn-toolbar" style="float:left">
                <div class="btn-group">
                    {% if arFactura.estadoImpreso == 0 %}
                        <a  class="btn btn-default btn-sm" href="{{ path('factura_nuevo', {'codigoFactura': arFactura.codigoFacturaPk }) }}">Editar</a>
                    {% endif %}
                    {#{{ form_widget(form.BtnAutorizar, { 'attr': {'class': 'btn btn-default btn-sm'} }) }}
                    {{ form_widget(form.BtnDesAutorizar, { 'attr': {'class': 'btn btn-default btn-sm'} }) }}#}
                    {{ form_widget(form.BtnImprimir, { 'attr': {'class': 'btn btn-default btn-sm'} }) }}
                    {#                {{ form_widget(form.BtnVistaPrevia, { 'attr': {'class': 'btn btn-default btn-sm'} }) }}#}
                    {#                {{ form_widget(form.BtnAnular, { 'attr': {'class': 'btn btn-default btn-sm', 'onclick': 'return confirm("Esta seguro de anular la factura?")'} }) }}#}
                </div>
            </div>
            {#<div style="float:right">
                  {% if arFactura.estadoAutorizado == 1 %}<span class="label label-default">Autorizado</span>{% endif %}
                  {% if arFactura.numero != 0 %}<span class="label label-success">Impreso</span>{% endif %}
                  {% if arFactura.estadoContabilizado == 1 %}<span class="label label-success">Contabilizado</span>{% endif %}
                  {% if arFactura.estadoAnulado == 1 %}<span class="label label-danger">Anulado</span>{% endif %}
              </div>#}
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">Información</div>
            <div class="panel-body">
                <table width="90%" class="table table-responsive table-bordered">
                    <tr>
                        <td>Comprobante:</td>
                        <td class="td-in-well">{{ arFactura.comprobanteRel.nombreComprobante }}</td>
                        <td>Numero Factura:</td>
                        <td class="td-in-well">{{ arFactura.numeroDocumento }}</td>
                        <td>Fecha:</td>
                        <td class="td-in-well">{{ arFactura.fechaMovimiento |date("Y/m/d") }}</td>
                        <td >Sub-total:</td>
                        <td align="right">{{ arFactura.vrSubtotal | number_format(0, '.', ',')}}</td>
                    </tr>
                    <tr>                   
                        <td>Cliente:</td>
                        <td class="td-in-well">{{ arFactura.clienteRel.primerNombre }}</td>
                        <td>C-costo</td>
                        <td class="td-in-well">{{arFactura.centroCostoRel.nombreCentroCosto}}</td>
                        <td>Vence:</td>
                        <td class="td-in-well">{{ arFactura.fechaVencimiento |date("Y/m/d") }}</td>
                        <td>Dscto</td>
                        <td align="right">{{ arFactura.vrDscto | number_format(0, '.',',')}}</td>

                    </tr>

                    <tr>
                        <td>Vendedor:</td>
                        <td class="td-in-well"></td> 
                        <td></td>
                        <td class="td-in-well"></td>
                        <td>Plazo pago:</td>
                        <td class="td-in-well"></td>
                        <td>Iva:</td>
                        <td align="right">{{ arFactura.vrIva | number_format(0, '.', ',')}}</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td class="td-in-well"></td>
                        <td></td>
                        <td class="td-in-well"></td>                       
                        <td>Total:</td>
                        <td align="right">{{arFactura.valorTotal | number_format(0,'.' , ',')}}</td>    
                    </tr>         
                </table>
            </div>
        </div>
        {{ form_start(form, { 'attr': {'class': 'form-horizontal'} }) }}

        <div class="panel panel-default">
            <div class="panel-heading">Datos articulo</div>
            <div class="panel-body">
                <div class="table-responsive">
                    <table class="table table-responsive">
                        <tr>
                            <td>Codigo:</td>
                            <td size="10">Bodega</td>
                            <td>UND</td>
                            <td>Cantidad</td>
                            <td>Vr Unitario</td>
                            <td>% Dscto</td>
                            <td>Sub-Total unitario</td>
                            <td>% iva</td>
                            <td>Neto unitario</td>
                        </tr>
                        <tr>
                            <td>
                                <input id="TxtCodigoArticulo"  name="TxtCodigoArticulo" placeholder="Codigo articulo" type="text"  value="{{ arFacturaDetalle.articuloRel.codigoArticuloPk | default('')}}" required="true" size="15"/>
                                <a class="btn btn-default btn-sm" href="javascript:abrirVentana3('{{ path('buscar_articulo', { 'campoCodigo': 'TxtCodigoArticulo', 'campoNombre': 'TxtNombreArticulo' }) }}', 'buscarItem', 600, 900)">...</a>
                            </td>

                            <td class="col-sm-1"><input name="TxtBodega" type="text" value="" size="10"/></td>
                            <td class="col-sm-2"><input name="UndManejo" value="{{ arArticulo.codigoUnidadManejoFk }}" readOnly="ReadOnly" size="5"/></td>
                            <td class="col-sm-2"><input name="TxtCantidad" type="text" value="{{ arFacturaDetalle.articuloRel.codigoArticuloPk | default('') }}" size="5"/></td>
                            <td class="col-sm-2"><input name="VrUnitario" type="text" value="{{ arFacturaDetalle.articuloRel.codigoArticuloPk | default('')}}"size="10"/></td>
                            <td class="col-sm-1"><input name="PorDscto" type="text" value="{{arFacturaDetalle.articuloRel.codigoArticuloPk | default('0')}}" size="3"/></td>
                            <td class="col-sm-2"><input name="SubTotalUnitario" type="text" value="{{arFacturaDetalle.articuloRel.codigoArticuloPk | default('')}}" size="10" readOnly="readOnly"/></td>
                            <td class="col-sm-1"><input name="iva" type="text" value="{{arFacturaDetalle.articuloRel.codigoArticuloPk | default('')}}" size="3" readOnly="readOnly"/></td>
                            <td class="col-sm-2"><input name="TotalNeto" type="text" value="{{arFacturaDetalle.articuloRel.codigoArticuloPk | default('')}}" size="15" readOnly="readOnly"/></td>
                        </tr>
                        <tr>
                            <td class="col-md-1">
                                <input id="TxtNombreArticulo"  name="TxtNombreArticulo"  type="text" value="{{ arCliente.clienteRel.primerNombre | default('') }}" readOnly="ReadOnly" />
                            </td>
                            <td>{{form_widget(form.BtnAddArticulo, { 'attr': {'class': 'btn btn-default btn-sm'} })}}</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>

        <ul class="nav nav-tabs">
            <li class="active"><a href="#registros" data-toggle="tab">Registros</a></li>
            <li><a href="#imputacion" data-toggle="tab">Imputacion Contable</a></li>
            <li><a href="#saldos" data-toggle="tab">Saldos Factura</a></li>
        </ul>
        <div class="tab-content">

            <div class="tab-pane active" id="registros">
                <div id="registros" style="width: 100%"><br>
                    <div class="table-responsive">
                        <table  class="table table-striped table-bordered table-condensed">
                            <tr>
                                <th>Articulo</th>
                                <th>Bodega</th>
                                <th>Cantidad</th>
                                <th>Vr unitario</th>
                                <th>% Dscto</th>
                                <th>Dscto</th>
                                <th class="col-md-1">Sub-total unitario</th>
                                <th>Subtotal</th>
                                <th>Iva</th>
                                <th>Neto Total</th>
                                <th></th>
                                <th></th>

                            </tr>
                            {% for arFacturaDetalle in arFacturaDetalle %}
                                <tr>
                                    <td >{{ arFacturaDetalle.articuloRel.nombreArticulo}}</td>
                                    <td></td>
                                    <td>{{ arFacturaDetalle.cantidad | number_format(0, '.', ',')}}</td>
                                    <td>{{ arFacturaDetalle.vrUnitario | number_format(0, '.', ',')}}</td>
                                    <td>{{ arFacturaDetalle.porDscto | number_format(0, '.', ',')}}</td>
                                    <td>{{ arFacturaDetalle.vrdscto | number_format(0, '.', ',')}}</td>
                                    <td>{{ arFacturaDetalle.vrSubTotalUnitario | number_format(0, '.', ',')}}</td>
                                    <td>{{ arFacturaDetalle.vrSubTotal | number_format(0, '.', ',')}}</td>
                                    <td>{{ arFacturaDetalle.vrIva | number_format(0, '.', ',')}}</td>
                                    <td>{{ arFacturaDetalle.vrTotalNeto | number_format(0, '.', ',')}}</td> 
                                    <td><input type="submit" name="BtnEditar[]" value="{{ arFacturaDetalle.codigoFacturaDetallePk }}" /></td>
                                    <td align="center"><input type="checkbox" name="ChkSeleccionar[]" value="{{ arFacturaDetalle.codigoFacturaDetallePk }}" /></td>
                                </tr>
                            {% endfor%}
                        </table>
                    </div>
                    <div class="btn-toolbar" style="float:right">
                        <div class="btn-group">
                            {{ form_widget(form.BtnEliminarDetalle)}}
                        </div>
                    </div>
                </div>
            </div>

            <div class="tab-pane" id="imputacion">
                <!-- Menu Encabezado Movimiento -->
                <div id="imputacion" style="width: 100%"><br>
                    <table  class="table table-striped table-bordered table-condensed table-hover">
                        <tr>
                            <th>CÓDIGO</th>
                            <th>NOMBRE</th>
                            <th></th>
                            <th></th>
                        </tr>

                    </table> 
                </div>
            </div>
        </div>
        {{ form_rest(form) }}
        {{ form_end(form) }}
    </section>
{% endblock %}