{% extends '::base.html.twig' %}
{% block body %}
    <div id="wrapper">
        <div id="page-wrapper">
            <div class="row">
                <div class="col-md-4">
                    <h1 class="page-header">Facturas</h1>
                </div>  
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            Lista
                        </div>
                        <div class="panel-body">
                            <table width="100%" class="table table-striped table-bordered table-hover dataTable no-footer dtr-inline" id="citas" style="width: 100%;">
                                <thead>    
                                    <tr>
                                        <th>Id</th>
                                        <th>No.</th>
                                        <th>Fecha</th>
                                        <th>Comprobante</th>
                                        <th>Cliente</th>
                                        <th>SubTotal</th>
                                        <th>Iva</th>
                                        <th>Total</th>
                                        <th></th>
                                    </tr>
                                </thead>  
                                <tbody>
                                    {% for arFactura in arFactura %}
                                        <tr>
                                            <td><input type="hidden" value="{{ arFactura.codigoFacturaPk }}">{{ arFactura.codigoFacturaPk }} </td>
                                            <td>{{ arFactura.numeroDocumento}}</td>
                                            <td>{% if arFactura.fechaMovimiento %}{{ arFactura.fechaMovimiento|date('d-m-Y') }}{% endif %}</td>
                                            <td>{{ arFactura.comprobanteRel.nombreComprobante  }}</td>
                                            <td>{{ arFactura.clienteRel.primerNombre }}</td>
                                            <td>{{ arFactura.valorSubtotal}}</td>
                                            <td>{{ arFactura.valorIva}}</td>
                                            <td>{{ arFactura.valorTotal}}</td>
                                            <td>
                                                <a class="fa fa-edit fa-align-center fa-1x" href="{{ path('factura_editar', { 'codigoFactura': arFactura.codigoFacturaPk }) }}"></a>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                </tbody>    
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="btn-group">
                <a class="btn btn-default btn-sm" href="{{ path('factura_nuevo',{'codigoFactura': 0, 'codigoMovimiento': 0 }) }}">Nuevo</a>
            </div>
        </div>
    {% endblock %}

