{% extends '::base.html.twig' %}

{% block body %}
    <h1>Citas list</h1>

    <table width="500" border="0" cellspacing="0" cellpadding="0" class="table table-striped">
        <thead>
            <tr>
                <th>Id </th>
                <th>Hora cita </th>
                <th>Dia cita </th>
                <th>Asunto cita </th>
                <th>Cliente </th>
                <th>Usuario </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        {% for cita in citas %}
            <tr>
                <td><a href="{{ path('citas_show', { 'codigoCitasPk': cita.codigoCitasPk }) }}">{{ cita.codigoCitasPk }}</a></td>
                <td>{% if cita.horaCita %}{{ cita.horaCita|date('H:i:s') }}{% endif %}</td>
                <td>{% if cita.diaCita %}{{ cita.diaCita|date('Y-m-d') }}{% endif %}</td>
                <td>{{ cita.asuntoCita }}</td>
                <td>{{ cita.codigoClienteFk }}</td>
                <td>{{ cita.codigoUsuarioFk }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('citas_show', { 'codigoCitasPk': cita.codigoCitasPk }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('citas_edit', { 'codigoCitasPk': cita.codigoCitasPk }) }}">Editar</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('citas_new') }}">Nueva cita</a>
        </li>
    </ul>
{% endblock %}
