{% extends 'base.html.twig' %}

{% block body %}
    <h1>Cita</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ cita.codigoCitasPk }}</td>
            </tr>
            <tr>
                <th>Hora cita</th>
                <td>{% if cita.horaCita %}{{ cita.horaCita|date('H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Dia cita</th>
                <td>{% if cita.diaCita %}{{ cita.diaCita|date('d-m-Y') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Asunto cita</th>
                <td>{{ cita.asuntoCita }}</td>
            </tr>
            <tr>
                <th>Cliente</th>
                <td>{{ cita.codigoClienteFk }}</td>
            </tr>
            <tr>
                <th>Usuario</th>
                <td>{{ cita.codigoUsuarioFk }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('citas_index') }}">Volver</a>
        </li>
        <li>
            <a href="{{ path('citas_edit', { 'codigoCitasPk': cita.codigoCitasPk }) }}">Editar</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Borrar">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
