{% extends '::base.html.twig' %}

{% block body %}
    <div id="wrapper">
        <div id="page-wrapper">
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header">Citas</h1>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            Lista
                        </div>
                        <div class="panel-body">
                            <table width="100%" class="table table-striped table-bordered table-hover dataTable no-footer dtr-inline" id="citas" style="width: 100%;">
                                <thead>    
                                    <tr>
                                        <th>Id </th>
                                        <th>Hora cita </th>
                                        <th>Dia cita </th>
                                        <th>Asunto cita </th>
                                        <th>Cliente </th>
                                        <th>Usuario </th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for cita in citas %}
                                        <tr>
{#                                            <td><a href="{{ path('citas_show', { 'codigoCitasPk': cita.codigoCitasPk }) }}" target="blank">{{ cita.codigoCitasPk }}</a></td>#}
                                            <td><a>{{ cita.codigoCitasPk }}</a></td>
                                            <td>{% if cita.horaCita %}{{ cita.horaCita|date('H:i') }}{% endif %}</td>
                                            <td>{% if cita.diaCita %}{{ cita.diaCita|date('d-m-Y') }}{% endif %}</td>
                                            <td>{{ cita.asuntoCita }}</td>
                                            <td>{{ cita.clienteRel.primerNombre }}</td>
{#                                            <td>{{ cita.empleadoRel.nombre }}</td>#}
                                            <td>
                                                <a class="fa fa-edit fa-align-center fa-1x" href="{{ path('citas_editar', { 'codigoCitasPk': cita.codigoCitasPk }) }}"></a>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <a type="button" class="btn btn-default" href="{{ path('citas_nueva') }}">Nueva cita</a>
        </div>
    </div>
{% endblock %}
