{% extends '::base.html.twig' %}

{% block body %}
    <h1>Clientes</h1>

    <table width="500" border="0" cellspacing="0" cellpadding="0" class="table table-striped">
        <thead>
            <tr>
                <th>Codigoclientepk</th>
                <th>Codigotipodocumentofk</th>
                <th>Numdocumento</th>
                <th>Primernombre</th>
                <th>Segundonombre</th>
                <th>Primerapellido</th>
                <th>Segundoapellido</th>
                <th>Telefono</th>
                <th>Celular</th>
                <th>Direccion</th>
                <th>Nombre_completo</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for arCliente in arClientes %}
            <tr>
                <td><a href="{{ path('cliente_show', { 'codigoClientePk': arCliente.codigoClientePk }) }}">{{ arCliente.codigoClientePk }}</a></td>
                <td>{{ arCliente.codigoTipoDocumentoFk }}</td>
                <td>{{ arCliente.numDocumento }}</td>
                <td>{{ arCliente.primerNombre }}</td>
                <td>{{ arCliente.segundoNombre }}</td>
                <td>{{ arCliente.primerApellido }}</td>
                <td>{{ arCliente.segundoApellido }}</td>
                <td>{{ arCliente.telefono }}</td>
                <td>{{ arCliente.celular }}</td>
                <td>{{ arCliente.direccion }}</td>
                <td>{{ arCliente.nombrecompleto }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('cliente_show', { 'codigoClientePk': arCliente.codigoClientePk }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('cliente_edit', { 'codigoClientePk': arCliente.codigoClientePk }) }}">Editar</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('cliente_new') }}">Nuevo</a>
        </li>
    </ul>
{% endblock %}
